---
layout: page
---

<p>{{ page.entry.author }}</p>

{% if page.entry.type == "inproceedings" %}
<p><em>{{ page.entry.booktitle }}</em>, {{ page.entry.year }}</p>
{% elsif page.entry.type == "article" %}
<p><em>{{ page.entry.journal }}</em>, {{ page.entry.year }}</p>
{% elsif page.entry.type == "phdthesis" %}
<p>{{ page.entry.year }}</p>
{% else %}
<p><em>{{ page.entry.number }}</em>, {{ page.entry.year }}</p>
{% endif %}

{% assign paper = '/publications/' | append: page.entry.key | append: '.pdf' %}
{% assign slides = '/publications/' | append: page.entry.key | append: '-slides.pdf' %}
{% assign slides_pptx = '/publications/' | append: page.entry.key | append: '-slides.pptx' %}
{% assign poster = '/publications/' | append: page.entry.key | append: '-poster.pdf' %}
{% assign code = '/publications/' | append: page.entry.key | append: '-code.zip' %}

<p>
{{ page.entry.abstract }}
</p>

{% for static_file in site.static_files %}
    {% if static_file.path == paper %}
    	{{ reference }} [<a href="{{ paper }}">PDF</a>]
    {% endif %}
{% endfor %}

{% for static_file in site.static_files %}
    {% if static_file.path == slides %}
    	{{ reference }} [<a href="{{ slides }}">Slides</a>]
    {% endif %}
{% endfor %}

{% for static_file in site.static_files %}
    {% if static_file.path == slides_pptx %}
    	{{ reference }} [<a href="{{ slides_pptx }}">Slides (pptx)</a>]
    {% endif %}
{% endfor %}

{% for static_file in site.static_files %}
    {% if static_file.path == poster %}
    	{{ reference }} [<a href="{{ poster }}">Poster</a>]
    {% endif %}
{% endfor %}

{% for static_file in site.static_files %}
    {% if static_file.path == code %}
    	{{ reference }} [<a href="{{ code }}">Code</a>]
    {% endif %}
{% endfor %}


